
$black: #1C3A47;
$white: #FFF7EF;
$accent: #5BA8B7;
$accent2: #BDE3EF;

$neutral-white: #aaa; // lighten($black, 38%);
$dark-accent: desaturate(darken($accent, 10%), 10%);

$typecolor: $white;

$fontstack: "DM Sans", Helvetica, sans-serif;

$titlestack: "DM Serif Display", Georgia, serif;