@font-face{ 
  font-family: 'Icomoon';
  font-weight: 400;
	src: url('/pools-website/assets/fonts/icomoon.eot'),
	     url('/pools-website/assets/fonts/icomoon.woff') format('woff'),
	     url('/pools-website/assets/fonts/icomoon.ttf') format('truetype'),
	     url('/pools-website/assets/fonts/icomoon.svg#webfont') format('svg');
}

// this doc needs to have its urls fixed :/