---
---

@import 'skeleton';
@import '_palette';
@import '_typography';

::selection {
  background-color: lighten($accent, 30%);
}

html {
  background-color: $black;
  font-size: 11pt;
}

body {
  font-family: $fontstack;
  color: $typecolor;
  font-weight: 400;
}

h1, h2 {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: bold;
  margin-top: 2rem;
}

h1 {
  font-size: 4.2rem;
  line-height: 4.2rem;
  margin-bottom: 2.8rem;
}

h2 {
  font-size: 2.6rem;
  line-height: 2.2rem;
  margin-bottom: 1rem;
}

h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 0.6rem;
  font-family: $fontstack;
}

p {
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: $accent;
}

blockquote {
  border-left: solid 4px $accent;
  margin-left: 0.8rem;
  padding-left: 1.4rem;
}

.container {
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 0 4vw;
  background-color: $accent;
  border-top: 4rem solid $black;
  background: linear-gradient($accent, $black);
}

.row {
  max-width: 800px;
  width: 98%;
}

content {
  padding: 1rem 0;
}

// utility classes
.center {
  display: block;
  text-align: center;
}

.black-text {
  color: $black;
}

.white-text {
  color: $white;
}

.accent-text {
  color: $accent;
}

.icon {
  font-family: Icomoon;
  font-weight: 400;
  font-style: none;
  text-decoration: none;
}

.tile {
  min-height: 80vh;
  background-color: $black;
  color: $white;
}

.card {
  background-color: $white;
  border-radius: 12px;
  padding: 2.8rem 2.4rem 1.8rem;
  margin-bottom: 2rem;
  box-shadow: $shadow-effect;
  color: $black;
  h3 {
    color: $accent;
    margin-bottom: 1.2rem;
    line-height: 3rem;
  }
  button {
    width: 100%;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

// more specific styles

// navigation
nav {
  color: $white;
  background-color: transparent;
  height: 2rem;
  padding-top: 1rem;
  display: flex;
  justify-content: flex-start;
  padding-left: 2rem;
  align-items: center;
  a {
    font-size: 3rem;
    font-family: $fontstack;
    color: $white;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      color: rgba($white, 0.6);
    }
    &:active {
      color: rgba($white, 0.6);
    }
  }
}

#menu-button {
  font-size: 4rem;
  color: $accent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.2rem;
  width: 4.2rem;
  border-radius: 50%;
  background-color: $white;
  text-shadow: none;
  // box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  box-shadow: $shadow-effect;
  position: fixed;
  top: 1.4rem;
  right: 2rem;
  z-index: 2;
  div {
  }
  div:hover {
    color: rgba($accent, 0.74);
    animation: navigate 1s ease-out;
  }
  div:active {
    color: rgba($accent, 0.44);
  }
}

@media (min-width: 550px) {
  #menu-button {
    left: 2rem;
  }
}

@keyframes navigate {
  0% { transform:rotate(0deg); }
  5% { transform:rotate(-10deg); }
  20% { transform:rotate(30deg); }
  40% { transform:rotate(-20deg); }
  60% { transform:rotate(10deg); }
  80% { transform:rotate(-5deg); }
  100% { transform:rotate(0deg); }
}

// full screen image (mobile friendly!)
.big-image {
  height: 100vh;
  width: 100vw;
  z-index: -2;
  text-shadow: 0 0 42px rgba($black, 0.48);
}

.image-fluid {
  height: inherit;
  width: auto;
  object-fit: cover;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: -2;
  min-width: 100%;
}

.big-text {
  display: flex;
  height: 40vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: $titlestack;
  font-style: italic;
  font-size: 5.2rem;
  line-height: 6rem;
  text-shadow:  $shadow-effect,
                0 4px 48px rgba($black,0.1),;
}


@media (min-width: 550px) {
  .big-text {
    font-size: 7.4rem;
    line-height: 9rem;
  }
}

footer {
  min-height: 4.2rem;
  margin: -1rem 0 2rem;
  color: rgba($accent, 0.64);
  text-transform: uppercase;
  font-weight: bold;
  .flex {
    font-size: 1rem;
    flex-direction: column;
  }
}

@media (min-width: 550px) {
  footer .flex{
    font-size: 1.2rem;
    flex-direction: row;
  }
}