---
---

@import 'skeleton';
@import '_palette';
@import '_typography';

::selection {
  background-color: lighten($accent, 20%);
}

html {
  background-color: $black;
  font-size: 11pt;
}

body {
  font-family: $fontstack;
  color: $typecolor;
  font-weight: 400;
}

h1 {
  font-family: $titlestack;
  font-style: italic;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.2rem;
  margin-top: 2.6rem;
}

h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 0.6rem;
  font-family: $fontstack;
}

p {
  margin-bottom: 2rem;
}

blockquote {
  border-left: solid 4px $accent;
  margin-left: 0.8rem;
  padding-left: 1.4rem;
}

.container {
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: $accent;
  border-top: 4rem solid $black;
  background: linear-gradient($accent, $black);
  .row {
    max-width: 800px;
    width: 90%;
  }
}

content {
  flex: 1 0 auto; // makes the footer sticky
  margin: 2rem 0;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgba($white, 0.6);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  height: 4.2rem;
  margin: -1rem 0 2rem;
}

@media (min-width: 550px) {
  footer {
    font-size: 1.4rem;
    flex-direction: row;
  }
}

// utility classes
.center {
  display: block;
  text-align: center;
}

.black-text {
  color: $black;
}

.white-text {
  color: $white;
}

.accent-text {
  color: $accent;
}

.icon {
  font-family: Icomoon;
}

.tile {
  min-height: 80vh;
  background-color: $black;
  color: $white;
}

.card {
  background-color: $white;
  border-radius: 12px;
  padding: 2.8rem 2.4rem 1.8rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.4);
  color: $black;
  h3 {
    color: $accent;
    margin-bottom: 1.6rem;
  }
  button {
    width: 100%;
  }
}

// more specific styles

// navigation
nav {
  color: $white;
  background-color: transparent;
  height: 2rem;
  padding-top: 1rem;
  display: flex;
  justify-content: flex-start;
  padding-left: 2rem;
  align-items: center;
  text-shadow: 0 0 18px rgba($black, 0.6);
  a {
    font-size: 3rem;
    font-family: $fontstack;
    color: $white;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      color: rgba($white, 0.6);
    }
    &:active {
      color: rgba($white, 0.6);
    }
  }
}

// full screen image (mobile friendly!)
.big-image {
  height: 100vh;
  width: 100vw;
  z-index: -2;
  text-shadow: 0 0 18px rgba($black, 0.6);
}

.image-fluid {
  height: inherit;
  width: auto;
  object-fit: cover;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: -2;
  min-width: 100%;
}

.big-text {
  display: flex;
  height: 40vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: $titlestack;
  font-style: italic;
  font-size: 5.2rem;
  line-height: 6rem;
}


@media (min-width: 550px) {
  .big-text {
    font-size: 7.4rem;
    line-height: 9rem;
  }
}