<!DOCTYPE html>
<html lang="en">
<head>

  <!-- basic page stuff -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <!-- mobile specific metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- fonts -->
  <link href="//fonts.googleapis.com/css?family=DM+Sans:400,400i,700|DM+Serif+Display:400i" rel="stylesheet" type="text/css">

  <!-- favicon -->
  <link rel="icon" href="assets/favicon.ico">
  
  <!-- cash.js -->
  <script src="assets/js/cash.min.js"></script>

  <!-- normalize.css -->
  <link rel="stylesheet" type="text/css" href="assets/css/normalize.css">

  <!-- script -->
  <script src="assets/js/script.js"></script>

  <!-- custom styling -->
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css">

</head>
<body>

  {{ content }}
  
</body>
</html>