---
layout: base
---

<div id="overlay">
  <nav>
    {% for item in site.data.nav %}
      <a href="{{ site.baseurl }}{{ item.link }}" class="{% if page.url == href %}active{% endif %}">{{ item.title }}</a>
    {% endfor %}
  </nav>
</div>

<header>
  <div id="top-title"><div>Gramps’ Pools</div></div>
  <div id="menu-button" class="wobble"><div id="compass" class="icon"></div></div>
  <div class="half-big-image">
    <img class="image-fluid" src="assets/images/{{ page.image }}" />
  </div>
</header>

<div id="page-title">{{ page.page-title }}</div>
<div class="container">
  <content class="row">
    <div class="twelve columns">
      {{ content }}
    </div>
  </content>
  <footer class="row">
    <div class="flex" style="justify-content: space-between">
      <span style="text-align: left; flex: 10">the best in pool construction</span>
      <span class="icon" style="text-align: center; flex: 1; font-size: 2.8rem"></span>
      <span style="text-align: right; flex: 10">&copy; 2019 <a href="https://radiolevity.com">Finn James</a></span>
    </div>
  </footer>
</div>