---
layout: base
---

<header>
  <div class="big-image">
    <nav style="height: 10%">
      <div><a>menu</a></div>
      <!-- <div><a>contact</a></div> -->
    </nav>
    <img class="image-fluid" src="assets/images/pastel-pool.jpg" />
    <div class="big-text">Gramps Pools</div>
  </div>
</header>

<div class="container">
  <div class="row" style="margin-top: -18rem;">
    <div class="card six columns">
      <h3>Lorem Ipsum</h3>
      <p>pop-up hot chicken deserunt meditation, enim tumblr unicorn small batch kitsch. Snackwave kale chips pop-up, semiotics helvetica cronut cardigan id. Mlkshk polaroid woke enim, commodo pork belly snackwave. Occupy tofu street art listicle migas vegan bitters forage aliqua.</p>
      <button class="button-primary">
        explore
      </button>
    </div>
    <div class="card six columns">
      <h3>Dolor Sit</h3>
      <p>Esse echo park voluptate pour-over authentic. Synth man bun 8-bit freegan kogi lo-fi edison bulb, taxidermy helvetica poke. Coloring book polaroid taiyaki prism yr authentic. Bespoke green juice you probably haven't heard of them brunch commodo culpa gentrify non readymade street art.</p>
      <button class="button-primary">
        contact
      </button>
    </div>
  </div>
  <content class="row">
    {{ content }}
  </content>
  <div class="row">
    <footer>
      <span>the best in pool construction</span>
      <span">&copy; 2019 Finn James</span>
    </footer>
  </div>
</div>